
th{
    color:blue;
    font-family: Impact, sans-serif;
    font-style:normal;
    text-align: center;
    font-weight: bolder;
    background-color:aliceblue;
}
h3{
    
    color:aqua;
    font-family: sans-serif;   
    font-style:italic;
}

td{
    color:aquamarine;
    font-family:fantasy;
    font-style: italic;
}
table{
    border-collapse: collapse;
    font-family: cursive;
}